/* ----------  DEFOULT SETTINGS  ---------- */
* {
	margin: 0;
	padding: 0;
	border: 0;
}
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	font-family: 'Inter';
	font-size: 14px;
}
*, *::before, *::after {
	box-sizing: inherit;
}
a {
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
}

/* ----------  FONTS  ---------- */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ----------  ANIMATIONS  ---------- */
