/* ----------  BASE...  ---------- */
.button {
	background: #35B8BE;
	border-radius: 5px;
	text-align: center;
	transition: .2s all;
}
.button:hover,
.button:focus {
	cursor: pointer;
	background: #3594B5;
}
.title {
	color: #35B8BE;
}
.subtitle {
	color: #546285;
}

/* ----------  HEADER...  ---------- */

	/* Under-header */
.under-header__wrapper {
	background: #35B8BE;
	height: 48px;
	line-height: 48px;
}
.under-header__content {
	max-width: 420px;
	margin: 0 auto;
	line-height: 48px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.under-header__open {
	color: rgba(255, 255, 255, 0.80);
}
.under-header__order a {
	color: #FFF;
	transition: .2s all;
}
.under-header__order .header__link:hover {
	color: #546285;
}
	/* Nav-header */
.header__wrapper {
	background: #FFFFFF;
	height: 100px;
	line-height: 100px;
}
.header__content {
	max-width: 1200px;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;

	position: relative;
	top: 20px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header__list {
	display: flex;
	align-items: center;
}
.header__item {
	margin-right: 32px;
}
.header__item:last-child {
	margin-right: 0;
}
.header__basket-backround {
	width: 55px;
	height: 55px;
	background: #35B8BE;
	border-radius: 4px;
}
.header__logo {
	width: 40px;
	height: 51px;
}
.header__basket {
	padding: 19px 17px 19px 13px;
}
.header__circle {
	width: 25px;
	height: 25px;
	border-radius: 100px;
	background: #FFF;
	box-shadow: 7px 7px 25px 0px rgba(126, 130, 143, 0.27);

	position: absolute;
	top: -6px;
	right: -6px;
}
.header__zero {
	display: block;
	width: 10px;

	color: #35B8BE;
	text-align: center;
	font-size: 13px;
	line-height: 18px; /* 138.462% */

	padding: 3px 7px 4px 8px;
}
.header__link {
	color: #28224B;
	font-size: 15px;
	transition: .2s all;
}
a.header__link:hover, 
a.header__link:focus {
	color: #3594B5;
}
.header__basket-backround:hover {
	cursor: pointer;	
}
.home-link {
	color: #35B8BE;
}

/* ----------  MAINER...  ---------- */

	/* 1-st section */
.intro__wrapper {
	min-height: 100vh;
	background: url(../img/first-bg.png) no-repeat center;
	max-width: 1440px;
	height: 820px;
	background-size: cover;
}
.intro__content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	max-width: 1200px;
	height: 580px;

	margin: 0 auto;
	position: relative;
	top: 100px;
	bottom: 140px;
}
.intro__title {
	color: #08090A;
	font-size: 60px;
	line-height: 60px; /* 100% */
	letter-spacing: 0.9px;
	max-width: 606px;
	margin-bottom: 27px;
}
.intro__title>span {
	color: #35B8BE;
}
.intro__subtitle {
	color: #546285;
	font-size: 18px;
	line-height: 24.12px; /* 134% */
	letter-spacing: 0.36px;
	max-width: 539px;
	margin-bottom: 53px;
}
.intro__button {
	width: 195px;
	height: 60px;
	color: #FFF;
	text-align: center;
	font-size: 17px;
	line-height: 60px; /* 117.647% */
	margin-bottom: 30px;
}
.intro__logo {
	width: 110px;
	height: 27px;
	margin-bottom: 10px;
}
.logo__subtitle {
	color: #08090A;
	font-size: 16px;
	line-height: 20px; /* 125% */
}
.logo__subtitle>span {
	color: #35B8BE;
}
.intro__image {
	width: 590px;
}

	/* 2-st section */
.the-home__wrapper {
	min-height: 100vh;
	background: url(../img/second-bg.png) no-repeat center;
	max-width: 1440px;
	height: 820px;
	background-size: cover;
}
.the-home__content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;

	max-width: 1200px;
	height: 615px;

	margin: 0 auto;
	position: relative;
	top: 120px;
	bottom: 140px;
}
.the-home__part-left {
	height: 615px;
	background: url(../img/text.png) no-repeat center;
	max-width: 580px;
	height: 615px;
	background-size: cover;
}
.the-home__part-right {
	padding-right: 25px;	
}
.the-home__title {
	color: #35B8BE;
	font-size: 51px;
	line-height: 55px; /* 107.843% */
	letter-spacing: 1.65px;
	max-width: 390px;
	margin-top: 150px;
	margin-bottom: 29px;
}
.the-home__subtitle {
	color: #546285;
	font-size: 18px;
	line-height: 27px; /* 150% */
	letter-spacing: 0.36px;
	max-width: 580px;
	margin-bottom: 47px;
}
.the-home__button {
	width: 195px;
	height: 60px;
	color: #FFF;
	text-align: center;
	font-size: 17px;
	line-height: 60px; /* 117.647% */
}

	/* 3-st section */
.how__wrapper {
	background: #FFFFFF;
	height: 820px;
}
.how__content {
	max-width: 1200px;
	height: 615px;

	margin: 0 auto;
	position: relative;
	top: 120px;
	bottom: 120px;
}
.how__title {
	color: #35B8BE;
	text-align: center;
	font-size: 50px;
	line-height: 55px; /* 110% */
	letter-spacing: 1.65px;
	padding-top: 15px;
	margin-bottom: 65px;
}
.how__cont-for-cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	height: 440px;
}
.how__card-pic {
	margin-bottom: 50px;
}
.how__card-title {
	color: #08090A;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 110% */
	letter-spacing: 0.66px;
	margin-bottom: 15px;
}
.how__card-desc {
	color: #546285;
	text-align: center;
	font-size: 18px;
	line-height: 27px; /* 150% */
	letter-spacing: 0.36px;
}
.how__rectangle {
	width: 100px;
	height: 1.3px;
	background: #D1CDCD;
	margin-top: 150px;
}

	/* 4-st section */
.menu__wrapper {
	min-height: 100vh;
	background: url(../img/third-bg.png) no-repeat center;
	max-width: 1440px;
	height: 1336px;
	background-size: cover;
}
.menu__content {
	max-width: 1200px;
	height: 1056px;

	margin: 0 auto;
	position: relative;
	top: 140px;
	bottom: 140px;
}
.menu__title {
	color: #35B8BE;
	text-align: center;
	font-size: 50px;
	line-height: 55px; /* 110% */
	letter-spacing: 1.65px;
	padding-top: 13px;
}
.menu__subtitle {
	display: block;
	color: #546285;
	text-align: center;
	font-size: 16px;
	line-height: 27px; /* 168.75% */
	letter-spacing: 0.36px;
	max-width: 465px;
	margin: 0 365px;
	margin-bottom: 50px;
}
.menu__subtitle>span {
	color: #35B8BE;
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 0.36px;
}
.menu {
	height: 750px;
}
.menu__nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	height: 50px;
	padding: 0 362px;
	margin-bottom: 40px;
}
.nav__button:first-child {
	width: 150px;
	height: 50px;
	background: #35B8BE;
	border-radius: 5px;

	color: #FFF;
	font-size: 14px;
	line-height: 50px; /* 142.857% */
	text-align: center;
}
.nav__button:first-child:hover {
	background: #3594B5;
}
.nav__button {
	width: 150px;
	height: 50px;
	border: 1px solid #61728333;
	background: none;
	color: #222;
	font-size: 15px;
	line-height: 50px; /* 133.333% */
	text-align: center;
}
.nav__button:hover {
	color: #FFF;
}
.menu__set {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 660px;
}
.set__card {
	width: 580px;
	height: 200px;
	border-radius: 5px;
	border: 1px solid #35B8BE26;
	background: #FFF;
	position: relative;
	margin: 10px;
}
.set__burger-pic {
	width: 120px;
	height: 120px;
	padding-left: 25px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.set__burger-title {
	position: absolute;
	left: 175px;
	top: 35px;
	color: #08090A;
	font-size: 18px;
	line-height: 20px; /* 111.111% */
	letter-spacing: 0.6px;
}
.set__burger-subtitle {
	position: absolute;
	left: 175px;
	top: 72px;
	max-width: 355px;
	color: #546285;
	font-size: 16px;
	line-height: 24px; /* 150% */
	letter-spacing: 0.32px;
}
.set__burger-price {
	position: absolute;
	right: 25px;
	top: 35px;
	color: #35B8BE;
	font-size: 15px;
	line-height: 20px; /* 133.333% */
}
.set__burger-count {
	position: absolute;
	left: 175px;
	top: 130px;
	width: 60px;
	height: 45px;
	flex-shrink: 0;
	border-radius: 5px;
	border: 1px solid #DDD;
	background: #FAFAFA;
	color: #000;
	text-align: center;
	font-size: 16px;
	line-height: 45px; /* 168.75% */
	letter-spacing: 0.36px;
}
.set__add-to-button {
	position: absolute;
	left: 245px;
	top: 130px;
	width: 115px;
	height: 45px;
	color: #000;
	text-align: center;
	font-size: 16px;
	line-height: 45px; /* 168.75% */
	letter-spacing: 0.36px;
}
.set__add-to-button:hover {
	color: #FFF;
}
.menu__button-see-menu {
	width: 186px;
	height: 60px;
	color: #FFF;
	text-align: center;
	font-size: 17px;
	line-height: 60px; /* 117.647% */
	margin: 0 507px;
	position: absolute;
	bottom: 0;
}

	/* 5-st section */
.order__wrapper {
	background: #FFFFFF;
	height: 830px;
}
.order__content {
	max-width: 1200px;
	height: 590px;

	margin: 0 auto;
	position: relative;
	top: 120px;
	bottom: 120px;

	display: flex;
	justify-content: flex-start;
	gap: 44px;
}
.order__title {
	margin-top: 135px;
	margin-bottom: 30px;
	max-width: 550px;
	font-size: 50px;
	line-height: 55px; /* 110% */
	letter-spacing: 1.65px;
}
.order__subtitle {
	margin-bottom: 50px;
	max-width: 580px;
	font-size: 18px;
	line-height: 27px; /* 150% */
	letter-spacing: 0.36px;
}
.order__button {
	width: 170px;
	height: 60px;
	color: #FFF;
	text-align: center;
	font-size: 17px;
	line-height: 60px; /* 117.647% */
}

	/* 6-st section */
.call__wrapper {
	min-height: 100vh;
	background: url(../img/fourth-bg.png) no-repeat center;
	max-width: 1440px;
	height: 847px;
	background-size: cover;
}
.call__content {
	max-width: 1200px;
	height: 567px;

	margin: 0 auto;
	position: relative;
	top: 140px;
	bottom: 140px;

	display: flex;
	justify-content: flex-start;
	padding-right: 25px;
	gap: 70px;
}
.call__title {
	margin-top: 100px;
	margin-bottom: 30px;
	max-width: 600px;
	font-size: 55px;
	line-height: 55px; /* 100% */
	letter-spacing: 1.65px;
}
.call__subtitle {
	margin-bottom: 50px;
	max-width: 580px;
	font-size: 18px;
	line-height: 27px; /* 150% */
	letter-spacing: 0.36px;
}
.call__button {
	width: 225px;
	height: 60px;
	color: #FFF;
	text-align: center;
	font-size: 17px;
	line-height: 60px; /* 117.647% */
}
.call__part-left {
	height: 615px;
	background: url(../img/text.png) no-repeat center;
	max-width: 580px;
	height: 567px;
	background-size: cover;
}

	/* 7-st section */
.support__wrapper {
	background: #FFFFFF;
	height: 730px;
}
.support__content {
	max-width: 1350px;
	height: 640px;

	margin: 0 45px;
	position: relative;
	top: 45px;
	bottom: 45px;

	display: flex;
	justify-content: flex-start;
	gap: 22px;
}
.support__part-left {
	background: url(../img/image_5.png) no-repeat center;
	width: 666px;
	height: 640px;
	background-size: cover;
}
.support__part-right {
	width: 666px;
	height: 640px;
	background: #35B8BE;
	position: relative;
}
.support__title {
	color: #FFF;
	font-size: 53px;
	line-height: 60.5px; /* 114.151% */
	letter-spacing: 1.65px;
	margin-left: 60px;
	margin-top: 212px;
	margin-bottom: 52px;
}
.support__title>span {
	color: #1B9097;
}
.support__button {
	width: 162px;
	height: 60px;
	background: #FFF;
	color: #35B8BE;
	line-height: 60px;
	margin-left: 60px;
	border: 1px solid #35B8BE;
	font-size: 17px;
}
.support__button:hover,
.support__button:focus {
	background: none;
	color: #FFF;
	border: 1px solid #FFF;
}
.support__title, .support__button {
    position: relative;
    z-index: 2;
}
.Fill {
	position: absolute;
	z-index: 1;
}
.f-359 {
	top: 288px;
	left: 88px;
}
.f-379 {
	top: 373px;
	left: 181px;
}
.f-401 {
	top: 396px;
	left: 8px;
}
.f-367 {
	top: 434px;
	left: 365px;
}
.f-385 {
	top: 498px;
	left: 85px;
}
.f-377 {
	top: 480px;
	left: 168px;
}
.f-355 {
	top: 507px;
	left: 276px;
}
.f-399 {
	top: 577px;
	left: 68px;
}
.f-387 {
	top: 583px;
	left: 197px;
}
.f-375 {
	top: 608px;
	left: 400px;
}
	
/* ----------  FOOTER...  ---------- */
.footer__wrapper {
	height: 600px;
	background: #F5FBFC;
	position: relative;
}
.footer__content {
	max-width: 1200px;
	height: 435px;

	margin: 0 auto;
	position: relative;
	top: 100px;
	bottom: 60px;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

	/* top */
.footer__top {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.footer__logo {
	width: 40px;
	height: 51px;
	margin-bottom: 25px;
}
.footer__info-subtitle {
	max-width: 245px;
	color: #546285;
	font-size: 15px;
	letter-spacing: 0.36px;
}
.footer__info {
	margin-right: 16px;
}
.footer__nav {
	display: flex;
	gap: 16px;
}
.footer__nav-list {
	min-width: 190px;
}
.footer__nav-item,
.footer__nav-item a {
	margin-bottom: 28px;
	color: #546285;
	font-size: 15px;
	line-height: 20px; /* 133.333% */
	transition: .2s all;
}
.footer__nav-item:last-child {
	margin-bottom: 0;	
}
.item-h {
	color: #08090A;
	font-size: 13px;
	line-height: 20px; /* 153.846% */
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
.footer__nav-item a:hover,
.footer__nav-item a:focus {
	color: #3594B5;
}
.footer__rectangle {
	width: 1200px;
	height: 1px;
	background: #7E828F17;
	z-index: 2;
}

	/* bottom */
.footer__bottom {
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.footer__signature {
	margin-bottom: 10px;
	color: #353448;
	font-size: 15px;
	line-height: 20px; /* 133.333% */
	z-index: 2;
}
.footer__signature span {
	color: #35B8BE;
}
.footer__social-list {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	gap: 24px;
	width: 168px;
	margin: 0 12px;
}
.footer__social-item {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: #7E828F4D 1px solid;
	padding: 11px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(227,227,227,1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(227,227,227,1);
	box-shadow: 0px 5px 5px 0px rgba(227,227,227,1);
	transition: all .2s ease-in-out;
}
.footer__social-item:hover {
	transform: translateY(-5px);
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,131,201,1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,131,201,1);
	box-shadow: 0px 3px 3px 0px rgba(0,131,201,1);
}
.footer__nav {
	z-index: 2;
}
.f-369-f {
	top: 232px;
	left: 551px;
}
.f-361-f {
	top: 325px;
	left: 460px;
}
.f-393-f {
	top: 317px;
	left: 207px;
}
.f-383-f {
	top: 386px;
	left: 80px;
}
.f-397-f {
	top: 270px;
	left: 0;
}
.f-363-f {
	top: 418px;
	left: 277px;
}
.f-353-f {
	top: 364px;
	left: 665px;
}
.f-357-f {
	top: 271px;
	left: 908px;
}
.f-381-f {
	top: 454px;
	left: 773px;
}
.f-401-f {
	top: 474px;
	left: 522px;
}
.f-399-f {
	top: 480px;
	left: 83px;
}
.f-385-f {
	top: 511px;
	left: 218px;
}
.f-391-f {
	top: 543px;
	left: 464px;
}
.f-359-f {
	bottom: 0;
	left: 663px;
}